.animationText {
    color: MediumAquaMarine;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 15%;
    padding-top:  5%;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}



.pie-row .pie-wrap > div {
    background: red;
    margin: 0 auto;
}

