
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  
  .hero-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 65vh;
    padding-top: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .animationText {
    color: MediumAquaMarine;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 15%;
    padding-top:  5%;
    font-size: 30px;
    text-align: center;
    justify-content: center;
  }
  

  .youtubeBackground {
    background-color: Cornsilk;
    height: 70vh;
    width: auto;
  }
  
  .youtubeContainer {
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: space-evenly;
  }
  
.footer-container {
    background-color: 'black';
    display:'flex';
    flex-direction: 'row';
    justify-content: 'center';
    align-items: 'center';
    height: '50%';
}


.textAnimation-buttoncontainer {
    justify-content: space-between;
    display: flex;
    width: 30%;
    min-width: 300px;
}


